.btn {
    display: inline-block;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 20px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #0069BA;
    color: #fff;