body {
    background-color: #4BB3C9;
}
    .container {
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
    }
        .left-column {
            display: inline-block;
            width: 40%;
            float: left;
            padding: 40px;
            padding-bottom: 20px;
            margin-top: 20px;
            background-color: #0069BA;
            color: #fff;
        }
            .page-title {
                display: inline-block;
                width: 100%;
            }
            .bottom-links {
                display: inline-block;
                width: 100%;
            }
                .bottom-links > .link {
                    color: #fff;
                }
                .bottom-links > .text {
                }
        .right-column {
            display: inline-block;
            width: 60%;
            float: left;
            padding: 60px;
            background-color: #fff;
        }
            .close {
            }
            .form {
                display: inline-block;
                width: 100%;
            }
                .form-row {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 30px;
                }
                    .form-row:last-of-type {
                        margin-bottom: 0;
                    }
                    .label {
                        display: inline-block;
                        width: 100%;
                        margin-bottom: 5px;
                        font-size: 13px;
                        line-height: 15px;
                        text-transform: uppercase;
                    }
                    .input {
                        display: inline-block;
                        width: 100%;
                        font-size: 18px;
                        line-height: 25px;
                    }
                    .btn {
                        display: inline-block;
                        padding: 10px;
                        padding-left: 40px;
                        padding-right: 40px;
                        line-height: 20px;
                        font-size: 18px;
                        border-radius: 20px;
                        background-color: #0069BA;
                        color: #fff;
                    }
                    .form-row > .text {
                        display: inline-block;
                        padding: 10px;
                        line-height: 20px;
                        font-size: 18px;
                    }
                    .form-row > .link {
                        display: inline-block;
                        padding: 10px;
                        line-height: 20px;
                        font-size: 18px;
                        color: #0069BA;
                    }
