body {
    background-color: #4BB3C9;
}
    .container {
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
        position: relative;
    }
        .left-column {
            display: inline-block;
            width: 40%;
            padding: 40px;
            padding-bottom: 20px;
            background-color: #0069BA;
            background-image: url(../img/kalnas.jpg);
            color: #fff;
            position: absolute;
            top: 30px;
            bottom: 30px;
        }
            .page-title {
                display: inline-block;
                width: 100%;
            }
            .bottom-links {
                display: inline-block;
                width: 100%;
                position: absolute;
                bottom: 20px;
                left: 40px;
                right: 40px;
            }
                .bottom-links > .link {
                    color: #fff;
                }
                .bottom-links > .text {
                }
        .right-column {
            display: inline-block;
            width: 60%;
            float: right;
            padding: 60px;
            background-color: #fff;
            position: relative;
        }
            .close {
                display: inline-block;
                width: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 30px;
                position: absolute;
                top: 0;
                right: 0;
            }