.form {
    display: inline-block;
    width: 100%;
}
    .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }
        .form-row:last-of-type {
            margin-bottom: 0;
        }
        .label {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
        }
        .input {
            display: inline-block;
            width: 100%;
            font-size: 18px;
            line-height: 25px;
        }
       
        }
        .form-row > .text {
            display: inline-block;
            padding: 10px;
            line-height: 20px;
            font-size: 18px;
        }
        .form-row > .link {
            display: inline-block;
            padding: 10px;
            line-height: 20px;
            font-size: 18px;
            color: #0069BA;
        }
